@model ApointMvcApp.Models.DeleteUserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Удалить пользователя</title>
</head>
<body>
     <div>
        @using (Html.BeginForm()) 
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Форма для удаления пользователя</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.Username)
                        @Html.TextBoxFor(m => m.Username)
                        @Html.ValidationMessageFor(m => m.Username)
                    </li>
                </ol>
                <input type="submit" value="Удалить" />
                </fieldset>
        }       
    </div>
    <p>@Html.RouteLink("Вернуться на главную админа", "AdminMainPage")</p>
    <p>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) 
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Разлогиниться</a>
        }
    </p>
</body>
</html>
